<html5 lang="en">
<style>
ul {
  list-style: none;
}
#col {
  background-color: hsla(220,100%,20%,1.0);

}


#nav {
	width: 104%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color:hsla(220,100%,20%,0.9);
	border-bottom: 1px solid #ccc;  }
#nav ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	padding: 1.0; }
#nav li {
	float: left; }
#nav li a {
	display: flex;;
	padding: 9px 18.95;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-right: 0px solid #ccc; }
#nav li:first-child a {
	border-left: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }
#width {
  width:750px;
margin:0 auto;
}
#word {
  color :white;
}
#link {
  color :red;
}

#link2 {
  color :hsla(220,100%,20%,0.9);
}



</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="home">

<!--header image-->
<div class="container">
    <div class="jumbotron" style="background:transparent !important">
        <a href="index.html" class="view">
            <img class="img-responsive"
                 src="../static/images/cvriheader.jpg">
        </a>
    </div>
</div>

<!--Navbar-->
<div class="container" id="width">
    <ul id="nav">
        <!--list items-->
        <li><a href="about.html" >About CVRI</a></li>
        <li><a href="researchhome.html" >Research</a></li>
        <li><a href="milestones.html" >Milestones</a></li>
        <li><a href="director.html" >CVRI Director</a></li>
        <li><a href="facultyhome.html" >Faculty</a></li>
        <li><a href="projectshome.html" >Projects</a><li>
        <li><a href="contactus.html" >Contact Us</a></li>

    </ul>
  </div>
<!--grid columns should add up to twelve for a row-->
<!-- Post Content -->
<!--container is fixed and container-fluid doesnt-->
<div class="container" id="content">


        <div align="center">
            <h1 id="link" class="section-heading">Cardiovascular Research Institute</h1>

            <p align="left">The Cardiovascular Research Institute (CVRI) was established in July, 1999 as a Center of
                Research Excellence. The CVRI is one of the first cardiovascular institutes of its kind at a
                historically minority institution. It was initially funded, in part, by a grant from the
                National Institutes of Health (NIH) National Center for Minority Health and Health Disparities
                and the NIH Heart, Lung, Blood Institute program to develop cardiovascular research centers at
                historically black colleges and universities (HBCUs). The CVRI is a multi-investigator,
                multidisciplinary organization that transcends traditional academic departmental structures to
                focus on advancing cardiovascular research and education.</p>

            <p align="left">Over the past decade, the CVRI has successfully recruited a talented critical mass of faculty
                with a wide breadth of scientific expertise that has enriched the intellectual capital of the
                institution and created one of the largest research portfolios at MSM.</p>

            <p align="left">Our ongoing process of strategic planning and evaluation has enabled CVRI to build upon its
                success and emerge as an internationally recognized Center of Excellence in cardiovascular
                science. Our approach focuses on: faculty, research infrastructure and our future
                scientists.</p>

            <h2 id="link" class="section-heading">The Four Primary Goals of CVRI:</h2>

            <ul align="left">
                <li>To mentor and develop a critical mass of talented investigators that emerge as leaders of
                    independent research programs and cross-disciplinary, collaborative research teams.
                </li>

                <li>To establish enabling technologies and a shared-use research infrastructure that supports
                    leading-edge cardiovascular science.
                </li>

                <li>To expand the racial/ethnic diversity of the biomedical research community by sustaining a
                    vibrant intellectual environment conducive to training and nurturing the development of
                    minority students into leading investigators.
                </li>

                <li>To develop innovative, cross-disciplinary research programs that integrate basic,
                    translational, clinical and population science approaches to address racial/ethnic
                    disparities in cardiovascular health.
                </li>
            </ul><br><hr><br><br>
        </div>

        <!--pfd letter-->
          <section class="container-fluid" id="col">
            <div id="content_row" align="center">
                <h1 align="center" class="section-heading" id="word">Letter from <a id="link" href="http://www.msm.edu/Research/research_centersandinstitutes/CVRI/CVRIDirectorsLetter.pdf">Director Dr. Taylor</a></h1>





            <img class="img-responsive"
                 id="cardio"
                 src="../static/images/cardiovascular.jpg">
        </div>

      </section>
      <br><br><br><hr>
    </div>




<!-- Footer -->
<footer id="footerWrapper" class="container">
  <section id="mainFooter">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-8">
          <div class="footerWidget text-center">

            <h3>Morehouse School Of Medicine</h3>
            <address>
              <p> <i class="icon-location"></i>&nbsp;720 WESTVIEW DRIVE<br>
                Atlanta, GA 30310<br>
                <i class="icon-phone"></i>&nbsp;404-752-1500<br>

              </address>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="container-fluid">
              <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Follow us</h3>
              <ul class="col-sm-6">

                <li><a href="https://www.facebook.com/MorehouseSchoolofMedicine" class="tips" title="follow me on Facebook"><img src="http://www.itsyourright.ie/wp-content/uploads/2014/10/facebook.png"/><i class="icon-facebook-1 iconRounded"></i></a></li><br>
                <li><a href="https://twitter.com/MSMEDU" class="tips" title="follow me on Twitter"> <img src="http://www.studentclearinghouse.org/imgs/twitter-32.png"><i class="icon-twitter-bird iconRounded"></i></a></li>
              </ul>
              <ul class="col-sm-6">
                <li><a href="https://www.youtube.com/user/TheMSMEDU" class="tips" title="follow me on Youtube"><img src="http://nvidiashieldzone.com/wp-content/themes/GamePlus/images/social-profiles/youtube.png"/><i class="icon-youtube-1 iconRounded"></i></a></li><br>
                <li><a href="https://www.linkedin.com/edu/morehouse-school-of-medicine-18178" class="tips" title="follow me on Linkedin"><img src="http://paullafrancedesign.com/wp-content/uploads/2013/12/linkedin-icon-32x32.png"/> <i class="icon-linkedin-1 iconRounded"></i></a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footerRights">
      <div class="container">
        <div class="row">
          <div class="footerWidget text-center">
            <p>Copyright © 2016 MOREHOUSE SCHOOL OF MEDICINE / All rights reserved.</p>
          </div>

        </div>
      </div>
    </section>
</footer>


</body>
</html>
