<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!--header image-->
<div class="container">
    <div class="jumbotron" style="background:transparent !important">
        <a href="index.html" class="view">
            <img class="img-responsive"
                 src="../static/images/cvriheader.jpg">
        </a>
    </div>
</div>

<!--Navbar-->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!--Menu Items-->
        <div class="navbar-collapse collapse" id="mainNavBar">
            <!--unordered list left-->
            <ul class="nav navbar-nav">
                <!--list items-->
                <li><a href="about.html">About CVRI</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="milestones.html">Milestones</a></li>

            </ul>
            <!--unordered list right-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="director.html">CVRI Director</a></li>
                <li><a href="#">Faculty</a></li>
                <li class="active"><a href="contactus.html">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--grid columns should add up to twelve for a row-->
<!-- Post Content -->
<!--container is fixed and container-fluid doesnt-->
<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-md-1">
        </div>

        <div class="col-md-7">
            <h1 class="section-heading">Contact Us</h1><br><br>

            <h4>Cardiovascular Research Institute</h4>
            <h4>Morehouse School of Medicine</h4>
            <h4>720 Westview Drive SW</h4>
            <h4>Atlanta, GA 30310</h4><br>
            <h4>Phone: (404) 752-1545</h4>
            <h4>Fax: (404) 752-1042</h4>
            <h4>Email: CVRI@msm.edu</h4><br><hr><br>




<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
