<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!--header image-->
<div class="container">
    <div class="jumbotron" style="background:transparent !important">
        <a href="index.html" class="view">
            <img class="img-responsive"
                 src="../static/images/cvriheader.jpg">
        </a>
    </div>
</div>

<!--Navbar-->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!--Menu Items-->
        <div class="navbar-collapse collapse" id="mainNavBar">
            <!--unordered list left-->
            <ul class="nav navbar-nav">
                <!--list items-->
                <li><a href="about.html">About CVRI</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="milestones.html">Milestones</a></li>

            </ul>
            <!--unordered list right-->
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="director.html">CVRI Director</a></li>
                <li><a href="#">Faculty</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--image below navbar-->
<div class="container-fluid">
    <div class="row" id="row_dir">


        <div class="col-md-6 col-md-push-3">

            <h1 class="section-heading">CVRI Director</h1>

            <img class="img-responsive"
                 id="img_dir"
                 src="../static/images/drhermantaylor.jpg">

            <h3 class="section-heading">Herman A. Taylor, M.D., MPH, FACC, FAHA</h3>
            <h4 class="section-heading">Director and Endowed Professor</h4>
            <h4 class="section-heading">Cardiovascular Research Institute</h4>
        </div>

        <div class="col-md-3 col-md-pull-6" id="frame_left">
            <iframe width="300" height="169" src="https://www.youtube.com/embed/_rskanLH3UI?rel=0" frameborder="0"
                    allowfullscreen></iframe>
        </div>

        <div class="col-md-3" id="frame_right">
            <iframe width="300" height="169" src="https://www.youtube.com/embed/9sRBQAOOdZc?rel=0" frameborder="0"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>

<!--Content under image-->
<!--container is fixed and container-fluid isn't-->
<div class="container" id="content">
    <div class="row">

        <div class="col">
            <p>Dr. Taylor is a nationally-recognized cardiologist leader with broad experience and success in key areas
                including invasive practice/research. Over the last decade he has focused predominantly on preventive
                cardiology and leadership of the landmark Jackson Heart Study (JHS) and ancillary observational research
                projects.</p>

            <p>Dr. Taylor was appointed in 1999 as the Principal Investigator and Director of the Jackson Heart Study,
                the largest epidemiological study of African Americans and cardiovascular disease of its kind ever
                undertaken.</p>

            <p>Since assuming that role he has held three simultaneous positions with the institutions funded by the NIH
                to administer the Study: Professor of Medicine and an attending cardiologist (and the inaugural holder
                of the Aaron Shirley Endowed Chair for the Study of Health Disparities) at University of Mississippi
                Medical Center; Visiting Professor of Biology in the Division of Natural Sciences at Tougaloo College;
                and, Clinical Professor of Epidemiology and Preventive Medicine at Jackson State University. In addition
                to establishing a resource of international importance for the study of CVD, the JHS has evolved highly
                successful teaching and community service components tightly linked to the Study.</p>

            <p>Dr. Taylor has held leadership and academic cardiology roles at the University of Mississippi Medical
                Center (UMMC) in Jackson and the University of Alabama at Birmingham (UAB) prior to coming to MSM. After
                serving as Chief Cardiology Fellow at UAB, he joined the UAB cardiology faculty, rising to associate
                professor in 1997 and was a founding Medical Director of UAB Hospital’s Cardiac Rehabilitation Center.
                His clinical service has included attending physician in cardiovascular disease and internal medicine at
                UAB, Cooper Green Hospital and Birmingham Veterans Administration Medical Center.</p>

            <p>Dr. Taylor is a Fellow in the American College of Cardiology and in the American Heart Association. He is
                the recipient of numerous awards and recognition, including American Heart Association Physician of the
                Year, the Herbert W. Nickens Award for Excellence in Epidemiological Research, the Best Doctors in
                America (2000-2013 consecutively); the University of Mississippi Medical Center's highest Research Award
                (Platinum Level Award for Excellence in Research), the Wooster Public Health Hero Award, (UAB School of
                Public Health); the Thurgood Marshall Foundation "Award of Excellence"; and Princeton University
                Distinguished Alumnus Award, Association of Black Princeton Alumni. He is a Councilor of the Harvard
                Medical School Alumni Association and President–Elect of the Greater Southeastern Affiliate of the
                American Heart Association.</p>

            <p>Dr. Taylor earned his bachelor's degree from Princeton University, Princeton, NJ, an M.D. degree from
                Harvard
                Medical School, and a master’s of public health degree from Harvard School of Public Health.</p>

        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
