<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
.dropbtn {
background-color: hsla(220,100%,20%,0.9);
color: white;
padding: 16px;
font-size: 16px;
font-weight: bold;
border: none;
cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
background-color: red;
color: white;
}

.dropdown {
float: inherit;
position: absolute;
display: flex;
}

.dropdown-content {
display: none;
position: absolute;
background-color:hsla(220,100%,20%,0.9); ;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown a:hover {background-color: white}
.dropdown a:hover {color: red}

.show {display:block;}

ul {
list-style: none;
}

#col {
background-color: hsla(220,100%,20%,1.0);

}


#nav {
width: 104%;
float: left;
margin: 0 0 1em 0;
padding: 0;
background-color:hsla(220,100%,20%,0.9);
border-bottom: 1px solid #ccc;  }
#nav ul {
list-style: none;
width: 800px;
margin: 0 auto;
padding: 1.0; }
#nav li {
float: left; }
#nav li a {
display: flex;;
padding: 9px 18.95;
text-decoration: none;
font-weight: bold;
color: white;
border-right: 0px solid #ccc; }
#nav li:first-child a {
border-left: 1px solid #ccc; }
#nav li a:hover {
color: #c00;
background-color: #fff; }
#width {
width:750px;
margin:0 auto;
}
#word {
color :white;
}
#link {
color :red;
}

#link2 {
color :hsla(220,100%,20%,1.0);
}



</style>
<body>

<!--header image-->
<div class="container">
    <div class="jumbotron" style="background:transparent !important">
        <a href="index.html" class="view">
            <img class="img-responsive"
                 src="../static/images/cvriheader.jpg">
        </a>
    </div>
</div>

<!--Navbar-->
<div class="container" id="width">
    <ul id="nav">
        <!--list items-->
        <li><a href="about.html" >About CVRI</a></li>
        <li><a href="researchhome.html" >Research</a></li>
        <li><a href="milestones.html" >Milestones</a></li>
        <li><a href="director.html" >CVRI Director</a></li>
        <li><a href="facultyhome.html" >Faculty</a></li>
        <li><a href="projectshome.html" >Projects</a><li>
        <li><a href="contactus.html" >Contact Us</a></li>

    </ul>
  </div>

<!--grid columns should add up to twelve for a row-->
<!-- Post Content -->
<!--container is fixed and container-fluid doesnt-->
<div class="container" id="content">




            <h1 id="link" align="center" class="section-heading">Funded Initiatives and Collaborations</h1><br>

            <p>African Americans are not all alike - physically, in our behaviors, belief systems, or what we do
              for employment and enjoyment. In this project, we will focus on the concept of resilience -
              how many African Americans stay healthy despite challenging circumstances and adverse conditions.
              Insights on resilience may point the way to new approaches to resolving health disparities.
              The overall goal of the MECA project is to launch a novel multi-level investigation into the
              characteristics and the determinants of resilience among African Americans in the US as a source
              of insights that could yield effective approaches to reducing risk, disease and death. The fact that
              African Americans are a high risk population is well documented; however, not all African Americans
              have poor CV health, and often have good health despite the ethnically-determined challenges to health and vigor.
              These facts attest to the existence of resilience within the black population which is vastly underexplored.
              If successful, this work could be instrumental in moving from what we think can or should work in the
              African American community, to what actually does work for the those who are free of heart disease
              (more than 85% of blacks), free of diabetes (over 80%) free of high blood pressure (>50%). </p>

            <p>The three projects link tightly and logically: Identification of resilience nurturing communities will allow
              recruitment of resilient individuals for metabolomics testing and psychosocial/clinical assessment before and
              after a novel computer-assisted intervention. This will allow the study of the metabolomics signatures of
              resilience and risk as they appear in African Americans, and the extent to which public health and molecular
              variables influence response to a novel clinical intervention.</p>
            <br>
            <p id="link2">1.&nbsp;<b><u>M</u></b>orehouse-<b><u>E</u></b>mory <b><u>CA</u></b>rdiovascular<b><u>C</u></b>enter for Health Equity (MECCA)

            <ul style="list-style-type:circle">
                <li><a id="link" href="http://www.msm.edu/Research/research_centersandinstitutes/CVRI/MECAArizonaPresentation2016.pdf">MECCA Arizona presentation</a></li>
              </ul></p>
            <p id="link2">2.&nbsp;<b><u>M</u></b>inority <b><u>H</u></b>ealth <b><u>G</u></b>enomics and Translational <b><u>R</u></b>esearch B<b><u>I</u></b>o-Repository <b><u>D</u></b>atabase Network (MH-GRID)</p>
            <p id="link2">3.&nbsp;Adapting Evidence-Based Epilepsy Self-Management Programs for Blacks in Georgia
            <ul style="list-style-type:circle">
                <li>Epilepsy self-management can improve treatment outcomes and overall quality of life for people with epilepsy.
                  Using a community-engaged approach—including a Community Advisory Committee, focus groups, and interviews of community
                  stakeholders—this project proposes to replicate the use of Project UPLIFT among African Americans, and to disseminate
                  three CDC's Managing Epilepsy Well Network products in Atlanta and around Georgia. The goals of this research are to
                  promote the adoption and replication of self-management programs in underserved communities, and to understand the
                  features that facilitate dissemination, replication, and adoption of these programs among people with epilepsy.
                  Rakale C. Quarells, PhD (Morehouse School of Medicine) is Principal Investigator and Nancy Thompson, PhD (Emory University)
                  is Co-Principal Investigator. This special interest project is funded by the Centers for Disease Control and Prevention.
                  More information about this Managing Epilepsy Well Network may be found at <a id="link" href="http://www.sph.emory.edu/ManagingEpilepsyWell/">http://www.sph.emory.edu/ManagingEpilepsyWell/</a></li>
              </ul></p>
            <p>4.&nbsp;<b id="link2">The National Spirituality & Health Consortium</b> - There is increasing interest in the health effects of spirituality, and CVRI is participating in a cutting-edge scientific
                    investigation of religion, spirituality and health across multiple ethnic groups and faith traditions. Through its partnership with the Jackson Heart Study,
                    the CVRI has joined the Harvard MGH Center of Genomics to research the most racially and ethnically diverse dataset ever created to study: the impact of psychosocial
                    stressors on genes, the relationship of biomarkers to disease risk and mortality and the effect of spirituality & religiosity on genes, disease risk and mortality.</p>

            <p>5.&nbsp;<b id="link2">The Football Players Health Study</b> - The Cardiovascular Research Institute (CVRI) is collaborating with investigators at Harvard University through the Football Players Health Study.
                    The goal of the Football Players Health Study is to understand total player health across the life span. Cardiac health is an important concern. The CVRI Director is a lead Co-Investigator
                    focused on the Players Cohort Study, the largest Study of former NFL Players ever conducted (over 3,000 participants). We seek to improve the health and well-being of former NFL players, while
                    furthering our understanding of the benefits – and the risks – of participating in football and other collision sports. <a id="link" href="https://footballplayershealth.harvard.edu/about/">https://footballplayershealth.harvard.edu/about/</a>.
          </p>
          <br><br><br><br><br>

          <p align="left">
            <a id="link" href="facultyhome.html">Previous Page</a>
          </p>
        </div>


<!-- Footer -->
<footer id="footerWrapper" class="container">
  <section id="mainFooter">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-8">
          <div class="footerWidget text-center">

            <h3>Morehouse School Of Medicine</h3>
            <address>
              <p> <i class="icon-location"></i>&nbsp;720 WESTVIEW DRIVE<br>
                Atlanta, GA 30310<br>
                <i class="icon-phone"></i>&nbsp;404-752-1500<br>

              </address>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="container-fluid">
              <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Follow us</h3>
              <ul class="col-sm-6">

                <li><a href="https://www.facebook.com/MorehouseSchoolofMedicine" class="tips" title="follow me on Facebook"><img src="http://www.itsyourright.ie/wp-content/uploads/2014/10/facebook.png"/><i class="icon-facebook-1 iconRounded"></i></a></li><br>
                <li><a href="https://twitter.com/MSMEDU" class="tips" title="follow me on Twitter"> <img src="http://www.studentclearinghouse.org/imgs/twitter-32.png"><i class="icon-twitter-bird iconRounded"></i></a></li>
              </ul>
              <ul class="col-sm-6">
                <li><a href="https://www.youtube.com/user/TheMSMEDU" class="tips" title="follow me on Youtube"><img src="http://nvidiashieldzone.com/wp-content/themes/GamePlus/images/social-profiles/youtube.png"/><i class="icon-youtube-1 iconRounded"></i></a></li><br>
                <li><a href="https://www.linkedin.com/edu/morehouse-school-of-medicine-18178" class="tips" title="follow me on Linkedin"><img src="http://paullafrancedesign.com/wp-content/uploads/2013/12/linkedin-icon-32x32.png"/> <i class="icon-linkedin-1 iconRounded"></i></a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footerRights">
      <div class="container">
        <div class="row">
          <div class="footerWidget text-center">
            <p>Copyright © 2016 MOREHOUSE SCHOOL OF MEDICINE / All rights reserved.</p>
          </div>

        </div>
      </div>
    </section>
</footer>

</body>
</html>
