<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
ul {
  list-style: none;
}
#col {
  background-color: hsla(220,100%,20%,1.0);

}


#nav {
	width: 104%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color:hsla(220,100%,20%,0.9);
	border-bottom: 1px solid #ccc;  }
#nav ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	padding: 1.0; }
#nav li {
	float: left; }
#nav li a {
	display: flex;;
	padding: 9px 18.95;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-right: 0px solid #ccc; }
#nav li:first-child a {
	border-left: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }
#width {
  width:750px;
margin:0 auto;
}
#word {
  color :white;
}
#link {
  color :red;
}

#link2 {
  color :hsla(220,100%,20%,0.9);
}



</style>
<body>

<!--header image-->
<div class="container">
    <div class="jumbotron" style="background:transparent !important">
        <a href="index.html" class="view">
            <img class="img-responsive"
                 src="../static/images/cvriheader.jpg">
        </a>
    </div>
</div>

<!--Navbar-->
<div class="container" id="width">
    <ul id="nav">
        <!--list items-->
        <li><a href="about.html" >About CVRI</a></li>
        <li><a href="researchhome.html" >Research</a></li>
        <li><a href="milestones.html" >Milestones</a></li>
        <li><a href="director.html" >CVRI Director</a></li>
        <li><a href="facultyhome.html" >Faculty</a></li>
        <li><a href="projectshome.html" >Projects</a><li>
        <li><a href="contactus.html" >Contact Us</a></li>

    </ul>
  </div>

<!--grid columns should add up to twelve for a row-->
<!-- Post Content -->
<!--container is fixed and container-fluid doesnt-->
<div align="center" class="container" id="content">




            <h1 id="link" class="section-heading">CVRI Milestones</h1>

            <p align="left">The Cardiovascular Research Institute (CVRI) has sytematically pursued a strategy to establish
                a Center of Excellence that integrates leading-edge discovery science with a mission-based
                focus on addressing health disparities in the minoriity communities MSM serves. Over the course
                of the past ten years, tremendous progress has been made toward fulfilling the vision of creating
                a multi-disciplinary portfolio incorporating basic, translational, clinical and population science.
                The innovative and compelling research projects below are some highlights that have advanced the
                development of CVRI into a preeminent minority serving instititution Center of Excellence.</p>

            <br><h3 id="link">2010</h3>

            <p id="link2" align="center"><b>Minority Health Genomics and Translational Research Bio-Repository (MH-GRID)<br>
                  Network: A Genomics Resource for Health Disparity Research<br></b>
                </p>
                <p align="left">
                The Minority Health Genomics and Translational Research BIo-Repository Database (MH-GRID)
                Network Infastructure is established to facilitate the development of: 1) biorepository infrastructure
                via the ascertainment of biospecimens and 2) biomedical informatics capacity via the collection of
                multidimensional data elements and the tracking of patient outcomes in an electronic health records
                (EHRs)-linked data warehouse within a consortium of minority-serving clinics. This initiative is
                emerging as a novel national asset that expands the diversity of bio-ancestral groups represented
                in genomic medicine cohorts across the US. It provides a platform for ‘virtual’ disease registries
                across a range of ‘health disparity conditions’, and will accelerate the translation of ‘personalized
                medicine’ into minority communities. The MH-GRID program has three major elements 1) establishment of a
                collaborative network platform that links minority-serving clinics with collaborative  genomics/ informatics
                expertise across the nation (University of Washington, Emory, Stanford, Baylor) ; 2) the creation of a
                network-based mechanism of data sharing through biorepositories and bioinformatics and 3) a ‘use-case’
                collaborative project designed to define the genetic determinants of severe hypertension in African-Americans.</p>

            <br><h3 id="link">2009</h3>
            <p id="link2" align="center"><b>Vascular Epigenome Dynamics in African-American Hypertensives</b><br></p>
              <p align="left">
                This clinical-translational research project is a natural extension of similar epigenomic analysis of hypertensive
                vasculopathy conducted in animal models of hypertension. This project involves a cross-disciplinary collaboration
                seeks to define the dynamic changes in the vascular epigenome in hypertensive African Americans in response to treatment
                with angiotensin receptor blockade. This study holds promise for making a link between drug responsiveness and
                epigenomics in different patient populations.</p>

            <br><h3 id="link">2004</h3>
            <p id="link2" align="center"><b>Morehouse-Emory Partnership to reduce CVD Disparities (METAHealth)</b><br></p>
              <p align="left">
                The METAHealth study documented that African Americans exhibit higher levels of vascular ‘stiffness’ (as measured by
                the augmentation index) compared to whites even after adjustment for conventional risk.  The greatest disparity in vascular
                ‘stiffness’ was observed in the sub-group of African Americans without risk factors. The higher level of vascular dysfunction
                in African Americans was associated with higher levels of biomarkers of oxidative stress compared to whites.
                </p>
            <br><h3 id="link">2003</h3>
            <p id="link2" align="center"><b>Morehouse Training Program in Cardiovascular Sciences: NHLBI Minority Institutional Research Training Program</b><br></p>
              <p align="left">
                The intent of this award is to provide basic and population-based cardiovascular related research training to pre-doctoral and
                post-doctoral students. CVRI’s NIH T32 Training Program generated trainees who have continued their success at prestigious academic
                institutions, government agencies and industry.<br><br></p>
              <p id="link2" align="center"><b>Cardiovascular Health Research Program (CHRP)</b><br></p>
                <p align="left">
                This program sought to enhance a novel integrative approach to cardio and cerebrovascular disease related research by facilitating
                institution-wide, multi-disciplinary research collaborations within the MSM community as well as our regional partners.</P>
</div>


<!-- Footer -->
<footer id="footerWrapper" class="container">
  <section id="mainFooter">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-8">
          <div class="footerWidget text-center">

            <h3>Morehouse School Of Medicine</h3>
            <address>
              <p> <i class="icon-location"></i>&nbsp;720 WESTVIEW DRIVE<br>
                Atlanta, GA 30310<br>
                <i class="icon-phone"></i>&nbsp;404-752-1500<br>

              </address>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="container-fluid">
              <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Follow us</h3>
              <ul class="col-sm-6">

                <li><a href="https://www.facebook.com/MorehouseSchoolofMedicine" class="tips" title="follow me on Facebook"><img src="http://www.itsyourright.ie/wp-content/uploads/2014/10/facebook.png"/><i class="icon-facebook-1 iconRounded"></i></a></li><br>
                <li><a href="https://twitter.com/MSMEDU" class="tips" title="follow me on Twitter"> <img src="http://www.studentclearinghouse.org/imgs/twitter-32.png"><i class="icon-twitter-bird iconRounded"></i></a></li>
              </ul>
              <ul class="col-sm-6">
                <li><a href="https://www.youtube.com/user/TheMSMEDU" class="tips" title="follow me on Youtube"><img src="http://nvidiashieldzone.com/wp-content/themes/GamePlus/images/social-profiles/youtube.png"/><i class="icon-youtube-1 iconRounded"></i></a></li><br>
                <li><a href="https://www.linkedin.com/edu/morehouse-school-of-medicine-18178" class="tips" title="follow me on Linkedin"><img src="http://paullafrancedesign.com/wp-content/uploads/2013/12/linkedin-icon-32x32.png"/> <i class="icon-linkedin-1 iconRounded"></i></a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footerRights">
      <div class="container">
        <div class="row">
          <div class="footerWidget text-center">
            <p>Copyright © 2016 MOREHOUSE SCHOOL OF MEDICINE / All rights reserved.</p>
          </div>

        </div>
      </div>
    </section>
</footer>


</body>
</html>
